.bg-bc-dark {
    background-color: rgb(9, 14, 57);
}

.bg-bc-light {
    background-color: rgb(243, 190, 71);
}

.bg-bc-banner {
    background-color: rgb(250, 228, 157);
}

.text-bc-dark {
    color: rgb(9, 14, 57);
}

.text-bc-light {
    color: rgb(243, 190, 71);
}

.btn-primary {
    color: white;
    background-color: rgb(9, 14, 57);
    border-color: rgb(243, 190, 71);; /*set the color you want here*/
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: black;
    background-color: rgb(243, 190, 71);
    border-color: rgb(9, 14, 57); /*set the color you want here*/
}

header {
    z-index: 10;
}

#hero-text {
    color: white; 
    text-align: center; 
    z-index: 1031; 
    width: 100%; 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}

#hero-text p {
    text-shadow: 0.25rem 0.25rem #444;
}

#welcomeCarousel {
    background-color: black;
    z-index: 1;
}

#carousel-images div img {
    opacity: 0.65; 
    min-height: 250px;
}

#divider-banner {
    min-height: 150px;
}

#divider-banner h4 {
    text-align: center; 
    color: black;
}

main {
    flex: 1;
}

#meet-the-team {
    scroll-margin-top: 52px;
}


.emp-img {
    max-width: 250px;
}

.emp-txt {
    max-width: 500px;
}

@media screen and (max-width: 768px) {
    #divider-banner h4 {
        font-size: medium !important;
    }
}

