.bg-bc-dark {
    background-color: rgb(9, 14, 57);
}

.bg-bc-light {
    background-color: rgb(243, 190, 71);
}

.bg-bc-banner {
    background-color: rgb(250, 228, 157);
}

.text-bc-dark {
    color: rgb(9, 14, 57);
}

.text-bc-light {
    color: rgb(243, 190, 71);
}

#hero-text {
    color: white; 
    text-align: center; 
    z-index: 1031; 
    width: 100%; 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}

.emp-img {
    max-width: 250px;
}

.emp-txt {
    max-width: 500px;
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: xx-large !important;
    }
  }